LIRCServer/TextFiles/schemas/config-ss_str.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="command">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="label" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="uuid" use="optional"/>
          <xs:attribute type="xs:string" name="cmd" use="optional"/>
          <xs:attribute type="xs:string" name="tdclass" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="macro" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="command" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="cols" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="textclass" use="optional"/>
      <xs:attribute type="xs:string" name="uuid" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="macro">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="command" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="uuid" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="remote">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="group" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="uuid" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="remotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="remote" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="cols"/>
      <xs:attribute type="xs:string" name="textclass"/>
      <xs:attribute type="xs:string" name="uuid"/>
    </xs:complexType>
  </xs:element>
</xs:schema>