LIRCServer/TextFiles/schemas/config-vb_att.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="remotes" type="remotesType"/>
  <xs:complexType name="commandType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="label" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="uuid" use="optional"/>
        <xs:attribute type="xs:string" name="cmd" use="optional"/>
        <xs:attribute type="xs:string" name="tdclass" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="groupType">
    <xs:sequence>
      <xs:element type="macroType" name="macro" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="commandType" name="command" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="cols" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="textclass" use="optional"/>
    <xs:attribute type="xs:string" name="uuid" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="remoteType">
    <xs:sequence>
      <xs:element type="groupType" name="group" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="uuid" use="optional"/>
  </xs:complexType>
  <xs:complexType name="macroType">
    <xs:sequence>
      <xs:element type="commandType" name="command" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="uuid" use="optional"/>
  </xs:complexType>
  <xs:complexType name="remotesType">
    <xs:sequence>
      <xs:element type="remoteType" name="remote" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="cols"/>
    <xs:attribute type="xs:string" name="textclass"/>
    <xs:attribute type="xs:string" name="uuid"/>
  </xs:complexType>
</xs:schema>